{{ attach_library('live_chat/chatroom-assets') }}

<div class="chat-list" id="chat-list"></div>

{{ form.form_build_id }}

{{ form.form_token }}

{{ form.form_id }}

{{ form.message }}

{{ form.submit }}